.customInput {
    padding: 8px;
    border:1px solid lightgray;
    list-style: none;
    width: 22%;
    text-align: center;
    outline: none;
}

.select {
    width: 85%;
    margin: 0 auto;
}

.selectBox {
    padding: 5px !important;
}

.styleForm {
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 10px;
    padding: 6px;
}

.topInput {
    justify-content: center;
    display: flex;
}


