.circle {
    width: 120px;
    height: 120px;
    background-color: #afffad;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.icon {
   color: white;
}

.link {
    padding: 5px;
    border: 2px solid cornflowerblue;
    border-radius: 10px;
    margin: 40px auto;
    cursor: pointer;
    transition: .4s;
    color: cornflowerblue;
    font-weight: bold;
}

.link:hover {
    border-color: crimson;
    color: crimson;
}

.contentBox {
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
